.NavBar {
  background-color: black;
  height: 60px;
}
.NavBar > a {
  color: white;
  text-decoration: none;
  margin: auto;
  vertical-align: middle;
  margin-right: 10px;
  box-sizing: border-box;
}

.NavLogo {
  color: white;
  width: 100px;
  height: 50px;
  vertical-align: middle;
  box-sizing: border-box;
}

.search-box {
  float: left;
  margin: 10px;
  align-content: left;
  color: white;
  box-sizing: border-box;
  vertical-align: middle;
}

.App {
  direction: rtl;
}

.modal-login {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content > input {
  display: block;
  background-color: fuchsia;
}
.modal-content {
  width: 300px;
  height: 300px;
  background-color: white;
}
